div.container{
	padding-top: 10px;

}
div.text-center{
	font-weight: 800;
	font-size: x-large;
}
body{
	background-color: #b3d7ff;
}
table.mytable{
	margin-top: 15%;
}
button.mybutton{
	margin-top: 5%;
}
div.myheader{
	margin-top: 5%;
}